# GEOS 518: Jupyter Notebook Assignment #1

## Taylor Dudunake
Due: 07/02/18

> **Instructions:** In this Jupyter notebook, you will should perform the following tasks with your chosen dataset:
1. Import it and create a plot
2. Compute and show key descriptive statistics about the time series that might include the mean, variance, and/or histograms
3. Assess the stationarity of the time series in one or both of the following ways: (1) compute and report the slope of a regression line through time (and it's significance), (2) compute and report the [Augmented Dickey-Fuller test](https://machinelearningmastery.com/time-series-data-stationary-python/)
4. Compute and plot the autocorrelation function of the time series. Note that if your examination reveals that the time series likely has a significant trend through time, you should either attempt to detrend it, or discuss the ramifications of not doing so at length.
5. Discuss in detail the results of your analyses in terms of the physical reasons that you observe the trends you see. For example, can you explain why the autocorrelation function behaves as you observe it to based on physical intuition?

> Characteristics of exemplary work:
* You use available libraries and (in comments) justify their use
* Your code is well commented and you describe each step that you are doing in your code
* Your plots are adequately sized. Axes, plots and legends labeled with font sizes that are readable. The marker and line styles and sizes are appropriate
* You use Markdown cells to describe, in detail what each code cell is doing. Markdown cells and code cells are adequately
* Your notebook response contains a Markdown cell that provides an overview of the problem statement, your approach, and key findings (i.e., these three things should correspond to sections)

## Task 1.1 Import relevant libraries and load the data

In [3]:
# This library is required for data management tasks
import pandas as pd

# This library is required for computation tasks useful for this analysis
import numpy as np 

# This library is required for all things plotting
import matplotlib.pyplot as plt 

# Import using pandas function for reading a csv file. It's also important to view and
# inspect the data to ensure everything is properly formatted. In this case, I look at
# the first and last 10 discharge measurememnts for this period of record (WY 2001-2017)
df = pd.read_csv('MF_Boise.csv', names=['Y','M','D','Q'], skiprows=1)
qrows = np.concatenate([np.arange(0,10,1),np.arange(-11,-1,1)])
df.iloc[qrows,:]

         Y   M   D       Q
0     2000  10   1   8.694
1     2000  10   2   9.062
2     2000  10   3   8.807
3     2000  10   4   8.779
4     2000  10   5   8.750
5     2000  10   6   8.779
6     2000  10   7   8.779
7     2000  10   8   8.722
8     2000  10   9   8.665
9     2000  10  10   8.835
6198  2017   9  20  16.481
6199  2017   9  21  17.699
6200  2017   9  22  16.651
6201  2017   9  23  15.745
6202  2017   9  24  14.980
6203  2017   9  25  14.499
6204  2017   9  26  14.216
6205  2017   9  27  14.046
6206  2017   9  28  13.847
6207  2017   9  29  13.593